Note:
if n is odd then middle row is floor value of (n/2) + 1

In [ ]:
n = int(input('Enter an Integer: '))

stars = 1
row = 1

while row <= 2 * n - 1:
  col = 1

  while col <= stars:
    print('*', end = ' ')
    col += 1

  if row < n:
      stars += 1

  else:
      stars -= 1

  row += 1
  print()

Enter an Integer: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5

space = n - 1
stars = n
row = 1

while row <= 2 * n - 1:

  col = 1
  while col <= space:
    print(' ', end = ' ')
    col += 1

  col = 1
  while col <= stars:
    print('*', end = ' ')
    col += 1

  if row < n:
    stars -= 1
    space -= 1

  else:
    stars += 1
    space += 1

  row += 1
  print()

        * * * * *
      * * * *
    * * *
  * *
*
  * *
    * * *
      * * * *
        * * * * *

In [ ]:
n = 7
stars = n/2 + 1
space = -1

row = 1
while row <= n:
  col = 1
  while col <= stars:
    print('*', end = ' ')
    col += 1

  col = 1
  while col <= space:
    print(' ', end = ' ')
    col += 1

  col = 1
  if row == 1 or row == n:
    col = 2

  while col <= stars:
    print('*', end = ' ')
    col += 1

  if row < n / 2:
    stars -= 1
    space += 2

  else:
    stars += 1
    space -= 2

  print()
  row += 1

* * * * * * *
* * *   * * *
* *       * *
*           *
* *       * *
* * *   * * *
* * * * * * *

In [ ]:
n = 7

o_space = n / 2
i_space = -1

row = 1
while row <= n:
  col = 1
  while col <= o_space:
    print(' ', end = ' ')
    col += 1

  print('*', end = ' ')

  col = 1
  while col <= i_space:
    print(' ', end = ' ')
    col += 1

  if row != 1 and row != n:
    print('*', end = ' ')

  if row < n / 2:
    o_space -= 1
    i_space += 2

  else:
    o_space += 1
    i_space -= 2

  print()
  row += 1

      *
    *   *
  *       *
*           *
  *       *
    *   *
      *

In [ ]:
n = 5

number = 1
space = n - 1

row = 1

while row <= n:
  col = 1
  while col <= space:
    print(' ', end = ' ')
    col += 1

  col = 1
  while col <= number:
    print(1, end = ' ')
    col += 1

  space -= 1
  number += 2

  row += 1
  print()

        1
      1 1 1
    1 1 1 1 1
  1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1

In [ ]:
n = 5

number = 1
space = n - 1

row = 1

while row <= n:
  col = 1
  while col <= space:
    print(' ', end = ' ')
    col += 1

  col = 1
  while col <= number:
    print(row, end = ' ')
    col += 1

  space -= 1
  number += 2

  row += 1
  print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [ ]:
n = 5

number = 1
space = n - 1
value = 1

row = 1

while row <= n:
  col = 1
  while col <= space:
    print(' ', end = '\t') #tab separated
    col += 1

  col = 1
  while col <= number:
    print(value, end = '\t')
    value += 1
    col += 1

  space -= 1
  number += 2

  row += 1
  print()

 	 	 	 	1
 	 	 	2	3	4
 	 	5	6	7	8	9
 	10	11	12	13	14	15	16
17	18	19	20	21	22	23	24	25

In [ ]:
n = 5

number = 1
space = n - 1
value = 1

row = 1

while row <= n:
  col = 1
  while col <= space:
    print(' ', end = '\t') #tab separated
    col += 1

  col = 1
  value = 1
  while col <= number:
    print(value, end = '\t')
    value += 1
    col += 1

  space -= 1
  number += 2

  row += 1
  print()

 	 	 	 	1
 	 	 	1	2	3
 	 	1	2	3	4	5
 	1	2	3	4	5	6	7
1	2	3	4	5	6	7	8	9

In [ ]:
n = 5

number = 1
space = n - 1
value = 1

row = 1

while row <= n:
  col = 1
  while col <= space:
    print(' ', end = '\t') #tab separated
    col += 1

  col = 1
  value = 1
  while col <= number:
    print(value, end = '\t')
    if col < number / 2:
      value += 1
    else:
      value -= 1
    col += 1


  space -= 1
  number += 2

  row += 1
  print()

 	 	 	 	1
 	 	 	1	2	1
 	 	1	2	3	2	1
 	1	2	3	4	3	2	1
1	2	3	4	5	4	3	2	1

In [ ]:
n = 5

number = 1
space = n - 1
value = 1

row = 1

while row <= n:
  col = 1
  while col <= space:
    print(' ', end = '\t') #tab separated
    col += 1

  col = 1
  value = row
  while col <= number:
    print(value, end = '\t')
    if col < number / 2:
      value += 1
    else:
      value -= 1
    col += 1


  space -= 1
  number += 2

  row += 1
  print()

 	 	 	 	1
 	 	 	2	3	2
 	 	3	4	5	4	3
 	4	5	6	7	6	5	4
5	6	7	8	9	8	7	6	5

In [ ]:
n = 3

number = 1
space = n - 1
value = 1
row = 1

while row <= 2*n - 1:
  col = 1
  while col <= space:
    print(' ', end = ' ')
    col += 1

  col = 1
  var = value # New variable
  while col <= number:
    print(var, end =' ')

    if col < number / 2:
      var += 1
    else:
      var -= 1

    col += 1

  if row < n:
    number += 2
    space -= 1
    value += 1

  else:
    number -= 2
    space += 1
    value -= 1

  row += 1
  print()

    1
  2 3 2
3 4 5 4 3
  2 3 2
    1